<%- include('partials/header') %>

<% if(!locals.result) { %>
    
    <div id="button-start" class="button-start">
        <button>Commencer le test</button>
    </div>

    <form id="test-form" action="" method="POST" class="test-form hide">

        <p>Pour chaque question, cochez l’affirmation qui vous correspond le mieux. Répondez de la manière la plus intuitive possible.</p>
        
    <% for(const question of questions) { %>

        <fieldset class="question">

            <legend class="question-test"><%= question.id %> - <%= question.question_text %></legend>

            <div class="answers">

                <% for(const answer of question.answers) { %>
                    <div>
                        <input type="radio" id="question<%= question.id %>_answer<%= answer.id %>" name="question<%= question.id %>" value="<%= answer.id %>" required>
                        <label for="question<%= question.id %>_answer<%= answer.id %>"><%= answer.answer_text %></label>
                    </div>
                <% } %>

            </div>

        </fieldset>

    <% } %>

        <div>
            <button type="submit">Envoyer</button>
        </div>

    </form>

<% } else { %>

    <div class="test-result">

        <div class="test-result-header">
            <h2>Interprétation</h2>

            <p>Le test de l’Imposteur a été développé pour aider les individus à déterminer s’ils ont ou non les caractéristiques correspondant au  sentiment d’imposture et si oui dans quelle mesure.</br>
            Après avoir fait le test, il faut additionner le nombre points par réponses pour chaque affirmation.</br>
            Pas du tout = 1point / Rarement = 2 points / Parfois = 3 points / Souvent = 4 points / Tout le temps = 5 points</p>
            
            <ul>
                <li>Si votre score est de 40 ou moins : vous vivez faiblement l’expérience du sentiment d’imposture.</li>
                <li>Si votre score est compris entre 41 et 60 : vous vivez modérément l’expérience du sentiment d’imposture.</li>
                <li>Si votre score est compris entre 61 et 80 : vous vivez fréquemment l’expérience de sentiment d’imposture.</li>
                <li>Si votre score est plus élevé que 80 : vous vivez intensément l’expérience du sentiment d’imposture.</li>
            </ul>

            <p>Plus le score est élevé, le plus fréquemment et sérieusement le Syndrome de l’Imposteur peut interférer dans la vie d’un individu.</p>
        </div>

        <div class="test-result-content">
            <h2>Résultat de votre test</h2>
            <p>Votre score est de <%= result.score %> </p>
            <p><%= result.reading %></p>
        </div>

        <div>
            <button onclick="window.location.href='/'">Refaire le test</button>
        </div>

    </div>

<% } %>

<%- include('partials/footer') %>